/* Style do tutors.html */
.container-tutores{
    padding: 26px 20px;
    max-width: 1020px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    row-gap: 40px;
    column-gap: 60px;

}
.info-tutor {
    background-color: #f4f5f6;
    border: 1px solid #8d99ae;
    border-radius: 12px;
    width: 200px;
    text-align: center;
    box-shadow: 0px 4px 3px 0px #d9d9d9;
}

.info-tutor img {
    height: 251px;
    width: 259px;
    border-radius: 16px;
}

.info-tutor h3{
    font-size: 25;
}

.info-tutor p{
    font-size: 19;
}
/* Fim do style do tutors.html */