* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #edf2f4;
  font-family: bree serif;
  color: #000000;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
    height: 150px;

    background-color: #C7F9CC;
  color: #ffffff;
  height: 80px;}

.container-info{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-text {
    width: 40%;
}

.main-text h1{
  font-size: 98;
  font-family: lato;

width: 100%;
  padding: 0 15px;
  font-size: 73px;
  text-decoration: none;
  
}

a{ 
  text-decoration: none;
color: rgb(255, 255, 255);
font-size: 20px;

}
.a-in{
  background-color: #003e64;
  border-radius: 15px;
  padding: 5px;
  
}
.a-in-div{
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 30px;
}
span{
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #003e64;
   font-weight:100;
   font-style:normal;
  }

.main-text h2{
  font-size: 39;
  font-family: lato;
}

.mini-desc{
  display: flex;
}

/* Style do desc-tutor.html */
.mini-desc{
  display: flex;
  align-items: flex-start;
  background-color: #f4f5f6;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px;
}

.pilar_foto {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.pilar_foto img {
  border-radius: 8px;
}


/* Fim do Style do desc-tutor.html */




/* ------------perfil---------- */

.perfil-container{
    background-color: #f1f1f1;
    border: 1px solid #8d99ae;
    border-radius: 12px;
    width: 80%;
    text-align: center;
    box-sizing: 0px 4px 3px 0px #00000040;
    margin: 100px 200px;
     display: flex;              /* 1. Ativa o layout flexível */
  justify-content: space-between; /* 2. Distribui o espaço entre os itens */
  align-items: center;    
  flex-wrap: wrap;
  padding: 2%;
  box-shadow: -17px 7px 0px -2px rgba(129, 129, 129, 0.75);
-webkit-box-shadow: -17px 7px 0px -2px rgba(129, 129, 129, 0.75);
-moz-box-shadow: -17px 7px 0px -2px rgba(129, 129, 129, 0.75);
 
}
.titulo{
  width: 100%;
}
.link-pa{
  text-decoration: none;
  color: inherit;
}

.foto{
  width: 20%;
 
}
.resto-perf{
width: 80%;
display: flex;
flex-wrap: wrap;
}

/* -------------cadastro----------*/

.cadastro-container{
  margin: auto;
  background-color: #57CC99;
  border: 12px solid;
  border-color: #22577A;
  border-radius: 60px;
  padding: 40px 92px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 200px;
}

.cadastro-container h2{
  font-family: chunckfive, Helvetica, sans-serif;
  color: white;
  font-size: 50px;
}
.boxes-container {
  width: 60%;
}
.perfil-foto-group{
background-color: #072e02;
    border: 1px solid #8d99ae;
    border-radius: 12px;
    width: 150px;
    height: 200px;
    text-align: center;
}
.imput-perf{
  width: 80%;
  border:none;
  margin-left: 10px;
}
.imput-perf:focus{
  outline: none;
}
.perfil-group{
  width: 100%;
  background-color: white;
  border:2px solid #000000 ;
 display:flex;
 border-radius: 11.5px;
  margin-bottom: 10px;
    padding: 2px 10px;
}
#foto-url {
  background-color: #57cc99;
    border: 1px solid #8d99ae;
    border-radius: 12px;
    width: 150px;
    height: 200px;
    text-align: center;
}
.big-box h1 { 
  color: rgb(255, 255, 255);
  background-color: #003e64;
  width: min-content;
  padding: 12px 15px;
  border-radius: 15px;
  font-family: 'LatoRegular';
   font-weight: bold;
   font-style: normal;
}

.h1-De{
color: #003e64;
font-size: 100px;
font-weight:800;
width: 100%;
line-height: 90px;

}
.h1-Pe{
color: #38a3a5;
font-size: 70px;
font-weight: bold;
font-family: 'LatoRegular';
   font-weight: bold;
   font-style: normal;
   width: 100%;
   margin-top: 20px;
}

.main-text{
  text-align: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 40%;

}
.mini-desc {
  color: #003e64;
  font-size: 40px;
   font-weight: bold;
  background-color: #c7f9cc;
  width: 550px;
  border-radius: 25px;
  padding: 10px;
  margin-top: 30px;
  
}

.container-info{
  display: flex;
  margin: 40px;
}
.big-box p{
  align-items: center;
  color: #000000;
  font-size: 20px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
  width: 90%;
}
.big-box{
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: -32px 15px 0px 15px rgba(0,62,100,1);
-webkit-box-shadow: -32px 15px 0px 15px rgba(0,62,100,1);
-moz-box-shadow: -32px 15px 0px 15px rgba(0,62,100,1);

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.bt{
  background-color: #003e64;
  color: #ffffff;
  padding: 5px;
  border-radius: 25px;
  font-size: 20px;
  margin-bottom: 40px;
   border: none;
}

.be{
  background-color: #003e64;
  color: #ffffff;
  padding: 5px;
  border-radius: 25px;
  font-size: 20px;
  margin-bottom: 40px;
   border: none;
}

.boxes-container {
  margin: 20px;
  align-items: center;
  width: 300px;
   display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: #003e64;
  
margin-left: 100px;
margin-right: 100px;
}

h1{
  margin-top: 40px;
}



.imput-cadastro{
  width: 80%;
  border:none;
  margin-left: 10px;
  background-color: #38A3A5;
}
.imput-cadastro:focus{
  outline: none;
}
.cadastro-group{
  width: 100%;
  background-color: #38A3A5;
  border:2px solid #38A3A5 ;
 display:flex;
 border-radius: 20px;
  margin-bottom: 10px;
  padding: 2px 10px;
  color: white;

  height: 40px;
}

.submit-buton{
  padding: 10px 40px;
  font-size: 20px;
  border-color: #22577A;
  border-radius: 30px;
  margin-top: 30px;
  background-color: #22577A;
  color: white;

}

/* Style do desc-tutor.html */
.container-infogeraltutor{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #f4f5f6;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px;
}

.pilar_foto {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.pilar_foto img {
  border-radius: 8px;
}

.pilar_foto li {
    font-weight: 700;
    font-size: 19px;
}

.pilar_informações {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2px;
}

.pilar_informações h2{
    font-size: 36,5px;
}

.pilar_informações .nome_pag_descgeral p{
    font-size: 19px;
}

.descrition_text p {
    font-size: 27px;
}

/* Fim do Style do desc-tutor.html */

/* Style do tutors.html */
.container-tutores{
    padding: 26px 20px;
    max-width: 1020px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    row-gap: 40px;
    column-gap: 60px;

}
.info-tutor {
    background-color: #f4f5f6;
    border: 1px solid #8d99ae;
    border-radius: 12px;
    width: 200px;
    text-align: center;
    box-shadow: 0px 4px 3px 0px #d9d9d9;
}

.info-tutor img {
    height: 251px;
    width: 259px;
    border-radius: 16px;
}

.info-tutor h3{
    font-size: 25;
}

.info-tutor p{
    font-size: 19;
}
/* Fim do style do tutors.html */