{% extends "layout.html" %}

{% block content %}

<div class="cadastro-container">
    <h2>Cadastro</h2>
    <div class="cadrasto-form">
        <form action="{{url_for('add_cadastro')}}" method="POST">
            <div class="cadastro-group">
                <label for="nome">Nome</label>
                <input type="text" id="cadastro-nome" name="name" placeholder="Nome">

            </div>
                <div class="cadastro-group">
                <label for="nome">email</label>
                <input type="email" id="cadastro-email" name="email" placeholder="Coloque seu email">

            </div>
                <div class="cadastro-group">
                <label for="nome">senha</label>
                <input type="password" id="cadastro-senha" name="password" placeholder="Coloque sua senha">
            </div>
            <button type="submit" class="submit-butoon">Entrar</button>
        </form>
        
    </div>
</div>
{% endblock %}