<body>
    <h3>&larr; Voltar</h3>
    <main>
        <div class="container-infogeraltutor">
            <div class="pilar_foto">
                <img href="../static/assets/images/" alt="foto do tutor">
                <ul>
                    <li>MATÉRIAS QUE ENSINA</li>
                    <li>MATÉRIAS QUE ENSINA</li>
                    <li>MATÉRIAS QUE ENSINA</li>
                    <li>MATÉRIAS QUE ENSINA</li>
                </ul>
            </div>
            <div class="pilar_informações">

                <div class="nome_pag_descgeral">
                    <h2>NOME E SOBRENOME DO TUTOR</h2>
                    <p>CIDADE/ESCOLA</p>
                <div>    

                <div class="descrition_text">
                    <p>
                    DESCRIÇÃO DESCRIÇÃO DESCRIÇÃO DESCRIÇÃO DESCRIÇÃO DESCRIÇÃO
                    DESCRIÇÃO DESCRIÇÃO DESCRIÇÃO DESCRIÇÃO DESCRIÇÃO DESCRIÇÃO
                    DESCRIÇÃO DESCRIÇÃO DESCRIÇÃO DESCRIÇÃO DESCRIÇÃO DESCRIÇÃO
                    DESCRIÇÃO DESCRIÇÃO DESCRIÇÃO DESCRIÇÃO DESCRIÇÃO DESCRIÇÃO
                    DESCRIÇÃO DESCRIÇÃO DESCRIÇÃO DESCRIÇÃO DESCRIÇÃO DESCRIÇÃO
                    DESCRIÇÃO DESCRIÇÃO DESCRIÇÃO DESCRIÇÃO DESCRIÇÃO DESCRIÇÃO
                    DESCRIÇÃO DESCRIÇÃO DESCRIÇÃO DESCRIÇÃO.
                </p>
                </div>

                <div class="link_de_contatos">
                    <p> <a href="pag_calendário"></a> ou <a href="mailto/tutor@gmail.com"> </p>
                </div>

            </div>





        </div>
    </main>











</body>