<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
  <title>Título da Página</title>
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/lato" type="text/css" />
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/horta" type="text/css" />
</head>
<header>
  <a href="{{url_for('index')}}" class="logo-link">
    <div>
      <img src="{{url_for('static', filename='assets/images/Logo.png')}}" alt="Tuts Logo Icon" height="50">
    </div>
    <div class="a-in-div">
      {% if logado==0%}
      <a class="a-in" href="{{url_for('show_cadastro')}}">sing in</a>
      <a class="a-in" href="{{url_for('show_login')}}">log in</a>
      {% else %}
         <a href="{{url_for('certo')}}">
        <img  src="{{url_for('static', filename='assets/images/perfil_logado.png')}}" alt="Tuts Logo Icon" height="40">
        </a>
        </div>

      {% endif %}
    </div>

  </a>
</header>

<body>

  {% block content %}
  {% endblock %}

</body>

</html>