
<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
  <title>Título da Página</title>
</head>
<header>
    <a href="{{url_for('index')}}" class="logo-link">
      <img src="{{url_for('static', filename='assets/images/tuts-icon.png')}}" alt="Tuts Logo Icon" height="60">
      <span>Tuts</span>
    </a>
</header>
<body>
  
  {% block content %}
  {% endblock %}
  
</body>
</html>