{% extends "layout.html" %}

{% block content %}
<a href="../templates/home.html" class="volta">
<h3> Voltar</h3>
</a>

<div class="perfil-container">
    <h3>gerenciador de perfil</h3>
  <div class="perfil-group">
    <label for="foto-url">Foto URL</label>
    <input type="text" id="Foto-URL" placeholder="Coloque a URL da foto de perfil">
     </div>
     <div class="perfil-group">
    <label for="nome">nome</label>
    <input type="text" id=nome-perfil" placeholder="Coloque a URL da foto de perfil">
     </div>
     <div class="perfil-group">
    <label for="nome">nome</label>
    <input type="text" id=nome-perfil" placeholder="coloque seu nome">
     </div>
     <div class="perfil-group">
    <label for="nome">Instituição</label>
    <input type="text" id="inst-perfil" placeholder="Coloque sua intituição">
     </div>
     <div class="perfil-group">
    <label for="nome">Cidade</label>
    <input type="text" id="cidade-perfil" placeholder="Coloque sua cidade">
     </div>
    
     <div class="perfil-group">
    <label for="nome">Seu Material</label>
    <input type="text" id="mat-perfil" placeholder="Coloque o seu material">
     </div>
      <h3> Contato</h3>
     <div class="perfil-group">
    <label for="nome">telefone</label>
    <input type="text" id=tel-perfil" placeholder="Coloque seu numero de telefone">
     </div>
     <div class="perfil-group">
    <label for="nome">Email</label>
    <input type="text" id=emaiç-perfil" placeholder="Coloque seu email">
     </div>
     
  
  
    </div>
{% endblock %}

