{% extends "layout.html" %}

{% block content %}

<h3> Voltar</h3>

<div class="perfil-container">
  <h3 class="titulo">gerenciador de perfil</h3>
  
    <div class="perfil-foto-group">
      <label for="foto-url"></label>
      <input type="text" id="foto-url" placeholder="foto">
    </div>
 
  <div class="resto-perf">
    <div class="perfil-group">
      <label for="nome">Nome</label>
      <input type="text" id="nome-perfil"  class="imput-perf">
    </div>
    <div class="perfil-group">
      <label for="nome">Instituição</label>
      <input type="text" id="inst-perfil"  class="imput-perf">
    </div>
    <div class="perfil-group">
      <label for="nome">Cidade</label>
      <input type="text" id="cidade-perfil"  class="imput-perf">
    </div>

    <div class="perfil-group">
      <label for="nome">Seu Material</label>
      <input type="text" id="mat-perfil"  class="imput-perf">
    </div>
    <h3> Contato</h3>
    <div class="perfil-group">
      <label for="nome">Telefone</label>
      <input type="text" id="tel-perfil" class="imput-perf">
    </div>
    <div class="perfil-group">
      <label for="nome">Email</label>
      <input type="text" id="emaiç-perfil" class="imput-perf">
    </div>
  </div>



</div>
{% endblock %}