@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
* {
    font-family: cabin;
    padding: 0;
    border: 0;
    box-sizing: content-box;
}

header{
    background-color: blue;
    color:beige;
    height: 80px;
    
}
body{
   
   background-color: aliceblue
    
}