{% extends "layout.html" %}

{% block content %}
    <h2>Conheça nossos tutores</h2>
    <main>
        <div class="container-tutores">
            <div class="info-tutor">
                <img href="..." alt="foto do tutor">
                <h3>Nome</h3>
                <p> Matéria que ensina </p>
                <p>Cidade, - sigla</p>
            </div>
            <div class="info-tutor">
                <img href="..." alt="foto do tutor">
                <h3>Nome</h3>
                <p> Matéria que ensina </p>
                <p>Cidade, - sigla</p>
            </div>
            <div class="info-tutor">
                <img href="..." alt="foto do tutor">
                <h3>Nome</h3>
                <p> Matéria que ensina </p>
                <p>Cidade, - sigla</p>
            </div>
            <div class="info-tutor">
                <img href="..." alt="foto do tutor">
                <h3>Nome</h3>
                <p> Matéria que ensina </p>
                <p>Cidade, - sigla</p>
            </div>
            <div class="info-tutor">
                <img href="..." alt="foto do tutor">
                <h3>Nome</h3>
                <p> Matéria que ensina </p>
                <p>Cidade, - sigla</p>
            </div>
            <div class="info-tutor">
                <img href="..." alt="foto do tutor">
                <h3>Nome</h3>
                <p> Matéria que ensina </p>
                <p>Cidade, - sigla</p>
            </div>
            <div class="info-tutor">
                <img href="..." alt="foto do tutor">
                <h3>Nome</h3>
                <p> Matéria que ensina </p>
                <p>Cidade, - sigla</p>
            </div>
            <div class="info-tutor">
                <img href="..." alt="foto do tutor">
                <h3>Nome</h3>
                <p> Matéria que ensina </p>
                <p>Cidade, - sigla</p>
            </div>
        </div>
    </main>

    {% endblock %}